{% extends 'base.html' %}

{% block content %}
<p>{{words|length}} Words</p>
<form method="post">
    En <input type="text" name="en" autocomplete="off" required>
    Ch <input type="text" name="ch" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
<ul class="word-list">
    {% for word in words %}
    <li>
        <span class="float-left">
            {{word.en}}
        </span>
         <span class="float-mid">
            {{word.ch}}
        </span>
        <span class="float-right">
            <a class="btn" href="{{url_for('edit',word_id=word.id)}}">Edit</a>
            <form class="inline-form" method="post" action="{{url_for('delete',word_id=word.id)}}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            <a class="baidu" href="https://fanyi.baidu.com/#en/zh/{{word.en}}" target="_blank" title="Find this word on baidu">
                Baidu
            </a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Lovely Mao" class="maomao" src="{{url_for('static',filename='maomao.gif')}}" title="meow~">
{% endblock %}